<!-- <mat-toolbar>
  <span >Welcome to app!</span>
</mat-toolbar>

<span>
  <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
</span>
<span>
  <a mat-button routerLink="/employee" routerLinkActive="active">Employee</a>
</span>
<span>
  <a mat-button routerLink="/salary" routerLinkActive="active">Salary</a>
</span>-->
<nav> 
  <mat-toolbar color="primary">
      <a href="/">
          <span>
              <!-- <img src="/assets/images/Globo_logo.png" alt="Globomantics" title="Globomantics" class="globo-logo"> -->
          </span>
      </a>
      <span class="navbar-fill">
          <button *ngIf="isLoggedIn()" mat-button routerLink="/projects">My Projects</button>
          <!-- <button *ngIf="isAdmin()" mat-button routerLink="/admin">Manage Projects</button> -->
      </span>
      <span>
          <button *ngIf="!isLoggedIn()" mat-button (click)="login()">Login</button>
          <button *ngIf="isLoggedIn()" mat-button (click)="logout()">Logout</button>
      </span>
  </mat-toolbar>

  <span>
    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
  </span>
  <span>
    <a mat-button routerLink="/employee" routerLinkActive="active">Employee</a>
  </span>
  <span>
    <a mat-button routerLink="/salary" routerLinkActive="active">Salary</a>
  </span>
</nav>
