<mat-card class="form-card">
  <mat-card-header>
    <mat-card-title>
      <h4>موظف جديد</h4>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <form [formGroup]="imageForm" class="form-container">
      <app-file-upload
        [imagePath]="path.value"
        formControlName="imageFile"
      ></app-file-upload>
    </form>

    <form [formGroup]="employeeForm" class="form-container">
      <mat-form-field >
        <input
          type="text"
          matInput
          aria-describedby="name-help"
          placeholder="أدخل الاسم"
          formControlName="name"
        />
        <mat-error *ngIf="name.invalid">
          {{ getErrorMessage(name) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-describedby="phone-help"
          placeholder="أدخل الرقم"
          formControlName="phone"
        />
        <mat-error *ngIf="phone.invalid">
          {{ getErrorMessage(phone) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-describedby="country-help"
          placeholder="أدخل البلد"
          formControlName="country"
        />
        <mat-error *ngIf="country.invalid">
          {{ getErrorMessage(country) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-describedby="city-help"
          placeholder="أدخل المدينة"
          formControlName="city"
        />
        <mat-error *ngIf="city.invalid">
          {{ getErrorMessage(city) }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          type="text"
          matInput
          aria-describedby="street-help"
          placeholder="أدخل الشارع"
          formControlName="street"
        />
        <mat-error *ngIf="street.invalid">
          {{ getErrorMessage(street) }}
        </mat-error>
      </mat-form-field>

      <app-material-select
        [options]="positionSelectOptions"
        formControlName="position"
      ></app-material-select>

      <app-material-select
        [options]="levelSelectOptions"
        formControlName="level"
      ></app-material-select>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button
      type="submit"
      (click)="onSubmit()"
      [disabled]="employeeForm.invalid || isViewMode()"
      mat-button
    >
      حفظ
    </button>
  </mat-card-actions>
</mat-card>