<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle]="'المرتبات'"
    (beginSearch)="onBeginSearch()"
    (create)="onCreate()"
>
    <ng-template searchFormContainer let-item>
        <form [formGroup]="searchForm">

            <mat-form-field>
                <mat-label>تاريخ من</mat-label>
                <input
                    matInput
                    [matDatepicker]="salaryCreationDateFromDatepicker"
                    autocomplete="off"
                    formControlName="salaryCreationDateFrom"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="salaryCreationDateFromDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #salaryCreationDateFromDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>تاريخ الي</mat-label>
                <input
                    matInput
                    [matDatepicker]="salaryCreationDateToDatepicker"
                    autocomplete="off"
                    formControlName="salaryCreationDateTo"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="salaryCreationDateToDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #salaryCreationDateToDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>الملاحظات</mat-label>
                <input
                    matInput
                    type="text"
                    autocomplete="off"
                    formControlName="notes"
                />
            </mat-form-field>

            <mat-form-field>
                <mat-label>القيمة</mat-label>
                <input
                    matInput
                    type="number"
                    autocomplete="off"
                    formControlName="salaryAmount"
                />
            </mat-form-field>

            <app-material-select
                [options]="employeeIdSelectOptions"
                formControlName="employeeId"
            >
            </app-material-select>

        </form>
    </ng-template>

    <ng-template searchResultContainer let-item>
        <app-grid-control
            #gridControl
            [rowDataService]="getSalariesPaginatedSortedFiltered"
            [columnOptions]="columnOptions"
            [gridHeaderOptions]="gridHeaderOptions"
            [searchInput]="searchForm.value"
            (deleteRow)="onDeleteClicked($event)"
        >
        </app-grid-control>
    </ng-template>
</app-search-list-expansion-panel>
