<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>
            تفاصيل المرتب
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="salaryForm" class="form-container">
            <app-material-select
                [options]="employeeIdSelectOptions"
                formControlName="employeeId"
            ></app-material-select>

            <mat-form-field>
                <mat-label>تاريخ</mat-label>
                <input
                    matInput
                    [matDatepicker]="salaryCreationDateDatepicker"
                    autocomplete="off"
                    formControlName="salaryCreationDate"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="salaryCreationDateDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #salaryCreationDateDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>القيمة</mat-label>
                <input type="text" matInput formControlName="salaryAmount" />
            </mat-form-field>
        </form>
    </mat-card-content>

    <mat-card-actions>
        <button
            (click)="onConfirm()"
            mat-button
        >
            غلق
        </button>
    </mat-card-actions>
</mat-card>
