<mat-card class="form-card">
    <mat-card-header>
        <mat-card-title>تعديل المرتب</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="salaryForm" class="form-container">
            <app-material-select
                [options]="employeeIdSelectOptions"
                formControlName="employeeId"
            ></app-material-select>

            <mat-form-field>
                <mat-label>تاريخ</mat-label>
                <input
                    matInput
                    [matDatepicker]="salaryCreationDateDatepicker"
                    autocomplete="off"
                    formControlName="salaryCreationDate"
                />
                <mat-datepicker-toggle
                    matSuffix
                    [for]="salaryCreationDateDatepicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #salaryCreationDateDatepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
                <mat-label>القيمة</mat-label>
                <input
                    type="text"
                    matInput
                    formControlName="salaryAmount"
                />
                <mat-error *ngIf="salaryAmount.invalid">
                    {{ getErrorMessage(salaryAmount) }}
                </mat-error>
            </mat-form-field>

        </form>
    </mat-card-content>
    <mat-card-actions>
        <button
            type="submit"
            (click)="onSubmit()"
            [disabled]="salaryForm.invalid"
            mat-button
        >
            Submit
        </button>
    </mat-card-actions>
</mat-card>
