<ng-container
    ><div class = "message-text">
        هل تريد الحذف؟
    </div>
    <div>
        <button mat-button color="light" (click)="onConfirm()">نعم</button>
        <button mat-button color="light" (click)="onCancel()">لا</button>
    </div>
</ng-container>
