<button mat-stroked-button color="primary" [hideIfUnauthorized]="crudPermissions.canDelete" (click)="onDelete()"><mat-icon>delete</mat-icon></button>
<button mat-stroked-button color="primary" [hideIfUnauthorized]="crudPermissions.canView" (click)="onView()"><mat-icon>visibility</mat-icon></button>
<button mat-stroked-button color="primary" [hideIfUnauthorized]="crudPermissions.canEdit" (click)="onEdit()"><mat-icon>edit</mat-icon></button>
