<mat-form-field style="width:100%;" appearance="outline">
    <mat-label>{{ options.label }}</mat-label>
    <mat-select
        #matSelect
        [value]="selectedValue"
        (selectionChange)="onChanged($event.value)"
        (blur)="onTouched()"
    >
        <mat-option *ngFor="let item of viewData" [value]="item[options.value]">
            {{ item[options.display] }}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="control.invalid">
        {{ options.errorMessages(control.control) }}
    </mat-error>
    <mat-hint align="start">
        {{ options.hint }}
    </mat-hint>
</mat-form-field>
