.uploadfilecontainer {
  /* background-image: url("../../assets/cloud-2044823_960_720.png"); */
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 100px;
  width: 30%;
  margin: 20px auto;
  border: 2px dashed #1c8adb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100px
  }
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

image-cropper {
  height: 200px;
  width: 200px;
}

.imageCropper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cropButton{
  display: flex;
  justify-content: center;
  align-items: center;
}