<!-- <div>
  <div>
      <label for="filePicker">Choose or drag a file:</label><br>
      <input type="file" id="filePicker" (change)="handleFileSelect($event)">
  </div>
  <br>
  <div>
      <h1>Base64 encoded version</h1>
      <textarea id="base64textarea" placeholder="Base64 will appear here" cols="50" rows="15">{{base64textString}}</textarea>
  </div>
</div> -->
<input style="display: none;" type="file" #fileInput (change)="handleFileSelect($event)">
<!-- <input type="file" #fileInput (change)="handleFileSelect($event)"> -->

<div>
    <div *ngIf="!showCropper" class="uploadfilecontainer" (click)="fileInput.click()">
        <span *ngIf="!imgPreview && !imagePath"> Image here </span>
        <img [imgPreview]="imgPreview" />
        <img *ngIf="!imgPreview && imagePath" [src]="imagePath" />
    </div>

    <div class = "imageCropper">
        <image-cropper
            [imageFileChanged]="imageFileChanged"
            [maintainAspectRatio]="true"
            [aspectRatio]="4 / 3"
            [resizeToWidth]="128"
            [cropperMinWidth]="128"
            [onlyScaleDown]="true"
            [roundCropper]="false"
            format="png"
            [outputType]="'both'"
            (imageCropped)="imageCropped($event)"
            (imageLoaded)="imageLoaded()"
            (cropperReady)="cropperReady()"
            (loadImageFailed)="loadImageFailed()"
            [style.display]="showCropper ? null : 'none'"
            [alignImage]="'left'"></image-cropper>
    </div>

    <!-- <div class="cropButton" *ngIf="imgPreview">
        <button
            *ngIf="!showCropper"
            (click)="onStartCrop()"
            mat-button>
            Crop image
        </button>
        <button
            *ngIf="showCropper"
            (click)="onFinishCrop()"
            mat-button>
            Done
        </button>
    </div> -->
</div>
