<app-search-list-expansion-panel
    dir="rtl"
    [pageTitle]="'الموظفين'"
    (beginSearch)="onBeginSearch()"
    (create)="onCreate()">
    <ng-template searchFormContainer let-item>
        <form [formGroup]="searchForm">
            <mat-form-field appearance="outline">
                <mat-label>أدخل الاسم</mat-label>
                <input
                    autocomplete="off"
                    type="text"
                    matInput
                    formControlName="name"
                    />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>أدخل التليفون</mat-label>
                <input
                    matInput
                    type="number"
                    autocomplete="off"
                    formControlName="phone"
                    />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>أدخل البلد</mat-label>
                <input
                    matInput
                    type="number"
                    autocomplete="off"
                    formControlName="country"
                    />
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>أدخل المدينة</mat-label>
                <input
                    matInput
                    type="number"
                    autocomplete="off"
                    formControlName="city"
                    />
            </mat-form-field>
        </form>
    </ng-template>

    <ng-template searchResultContainer let-item>
        <app-grid-control
            #gridControl
            [rowDataService]="getEmployeesPaginatedSortedFiltered"
            [columnOptions]="columnOptions"
            [gridHeaderOptions]="gridHeaderOptions"
            [searchInput]="searchForm.value"
            (deleteRow)="onDeleteClicked($event)">
        </app-grid-control>
    </ng-template>

</app-search-list-expansion-panel>
