.table-card {
    margin: 0px;
    width: 100%;
}

.table-container {
    overflow: auto;
    // height: 640px;
    display: block;
}

table {
    width: 100%;
}

mat-card-title {
    font-family: tahoma !important;
    font-size: 17px;
    font-weight: bold;
}

mat-action-row {
    button {
        margin-left: 5px;
        margin-right: 5px;
    }
}

button {
    font-family: tahoma;
    font-weight: bold;
}

.form-container {
    display: flex;
    flex-direction: column;
    * {
        width: 100%;
    }
}

.header-margin {
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-wrapper {
    overflow: hidden;
}

