<div class="page-layout carded fullwidth inner-scroll" dir="rtl">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- BODY -->
  <div class="center">
    <mat-card class="form-card header-margin">
      <mat-card-header>
        <mat-card-title>
          {{pageTitle}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- SEARCH -->
        <div class="search-wrapper">
          <mat-expansion-panel
            #searchPanel
            [expanded]="true"
            (opened)="onOpenSearchPanel()"
            (closed)="onCloseSearchPanel()">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{searchPanelTitle}}
              </mat-panel-title>
              <mat-panel-description>
                {{searchPanelDescription}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <!-- SEARCH FORM CONTAINER -->
            <ng-container
              *ngTemplateOutlet="searchFormContainer; context: { $implicit: item }">
            </ng-container>
            <!-- / SEARCH FORM CONTAINER -->
            <mat-action-row>
                <button
                  mat-stroked-button
                  (click)="onCreate()"
                  class="add-product-button fuse-white mt-24 mt-md-0">
                  <span>جديد</span>
                </button>
                <button
                  mat-stroked-button
                  (click)="onBeginSearch()"
                  class="add-product-button fuse-white mt-24 mt-md-0">
                  <span>بحث</span>
                </button>
                <!-- <button
                  mat-stroked-button
                  (click)="onBeginSearch()"
                  class="add-product-button fuse-white mt-24 mt-md-0">
                  <span>الغاء</span>
                </button> -->
            </mat-action-row>
          </mat-expansion-panel>
        </div>
        <!-- / SEARCH -->
      </mat-card-content>
    </mat-card>

    <!-- SEARCH RESULT -->
    <mat-expansion-panel
      #gridPanel
      (closed)="onOpenSearchPanel()"
      (opened)="onCloseSearchPanel()"
      [disabled]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{listPanelTitle}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <!-- <div class="table-container"> -->
      <!-- SEARCH RESULT CONTAINER -->
      <ng-container
        *ngTemplateOutlet="searchResultContainer; context: { $implicit: item }">
      </ng-container>
      <!-- / SEARCH RESULT CONTAINER -->
      <!-- </div> -->
    </mat-expansion-panel>
  </div>
  <!-- / SEARCH RESULT -->
  <!-- / BODY -->
</div>
