<!-- <form class="form-signin center" (ngSubmit)="SignUp()">
  <div class="container-fluid">
    <h2 class="form-signin-heading">Sign Up</h2>
    <div *ngIf="invalidSignUp" User class="alert alert-danger">Invalid username or password.</div>
    <br />
    <label for="UserName" class="sr-only">UserName</label>
    <input [(ngModel)]="user.UserName" type="Text" id="UserName" name="UserName" class="form-control"
      placeholder="User Name" required autofocus>
    <br />
    <label for="Email" class="sr-only">Email</label>
    <input [(ngModel)]="user.Email" type="email" name="Email" class="form-control" placeholder="Email" required>

    <br />
    <label for="Password" class="sr-only">Password</label>
    <input [(ngModel)]="user.Password" type="Password" name="Password" class="form-control" placeholder="Password"
      required>
    <br>
    <label for="confirmPassword" class="sr-only">Confirm Password</label>
    <input [(ngModel)]="user.ConfirmPassword" type="Text" id="confirmPassword" name="ConfirmPassword"
      class="form-control" placeholder="Confirm Password" required autofocus>
    <br />
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    <br>
    <span>you have an account...<a routerLink="/login">Login</a></span>
  </div> -->

  <div class="jumbotron">
    <div class="container">
        <div class="row">
            <h2 class="form-signin-heading">Sign Up</h2>
            <br />
            <div class="col-md-6 offset-md-3">
                <form [formGroup]="userform" class="form-signin center" (ngSubmit)="SignUp()">
                    <div class="form-group">
                        <label>UserName</label>
                        <input type="text" formControlName="UserName" class="form-control" />
                        <div *ngIf="submitted && f.UserName.errors" class="invalid-feedback">
                            <div *ngIf="f.UserName.errors.required">UserName is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" formControlName="Email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Email.errors }" />
                        <div *ngIf="f.Email.errors" class="invalid-feedback">
                            <div *ngIf="f.Email.errors.required">Email is required</div>
                            <div *ngIf="f.Email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="Password" formControlName="Password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Password.errors }" />
                        <div *ngIf="submitted && f.Password.errors" class="invalid-feedback">
                            <div *ngIf="f.Password.errors.required">Password is required</div>
                            <div *ngIf="f.Password.errors.minlength">Password must be at least 6 characters</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        <input type="password" formControlName="ConfirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ConfirmPassword.errors }" />
                        <div *ngIf="submitted && f.ConfirmPassword.errors" class="invalid-feedback">
                            <div *ngIf="f.ConfirmPassword.errors.required">Confirm Password is required</div>
                            <div *ngIf="f.ConfirmPassword.errors.validateEqual">Passwords must match</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
                    </div>
                </form>
                <span>you have an account...<a routerLink="/login">Login</a></span>
            </div>
        </div>
      </div>
    </div>