<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.4.1/oidc-client.min.js"></script>
<script>
 var config = {
  userStore: new Oidc.WebStorageStateStore({ store: window.localStorage })
 };
 var mgr = new Oidc.UserManager(config);
 mgr.signinRedirectCallback().then(() => {
  window.history.replaceState({},
      window.document.title,
      window.location.origin);
      window.location = "/";
  }, error => {
  console.error(error);
 });

</script>