// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

.ag-theme-material .ag-header-cell, .ag-theme-material .ag-header-group-cell {
    font-family: tahoma !important;
    padding-left: 5px;
    padding-right: 5px;
}

.ag-theme-material .ag-header-cell{
    font-size: 14px;
    font-weight: bold;
    font-family: tahoma !important;
}
.mat-dialog-container {
    padding: 0px !important;
}
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import '~ag-grid-community/src/styles/ag-theme-material/sass/ag-theme-material';
